/* Reset nhẹ */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Khung chính */
.container {
  width: 400px;
  margin: 100px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Tiêu đề */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* Đoạn văn */
p {
  color: #666;
}

/* Khung nội dung */
.box {
  margin: 20px 0;
  padding: 15px;
  background-color: #e9f1ff;
  border-radius: 5px;
}

/* Nút */
button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #357ab8;
}

/* Bảng */
.bang {
  width: 100%;
  border-collapse: collapse;
}
.bang th,
.bang td {
  border: 1px solid #333;
  text-align: center;
  padding: 8px 12px;
}
.bang thead {
  background-color: rgb(85, 85, 244);
}
